[Unit]
Description=myapp daemon
After=nginx.service mysql.service
Wants=mysql.service

[Service]
Type=forking
ExecStart=/opt/myapp/myapp-api/myapp.sh start
ExecStop=/opt/myapp/myapp-api/myapp.sh stop
#Restart=always
#RestartSec=5s
#StartLimitInterval=0

[Install]
WantedBy=multi-user.target
