Source: myapp
Section: unknown
Priority: extra
Maintainer: xiaobin.zhao@cstackdev.io
Build-Depends: debhelper (>=9), build-essential, python3-dev, cronolog, rsyslog, logrotate, cron
Standards-Version: 3.9.4
Homepage: http://g.cstackdev.io/xiaobin.zhao/fastapi
Package: myapp-api
Version: ${VERSION}
Architecture: amd64
Depends:
Recommends:
Description: myapp api.
