PROJECT_NAME = "myapp"

[default]
log_level = "INFO"
log_path = "@format /var/log/{this.PROJECT_NAME}/app.log"
host = "0.0.0.0"
port = 9099

[db]
user = "root"
password = "mysql"
aiomysql_url = "@format mysql+aiomysql://{this.DB.USER}:{this.DB.PASSWORD}@127.0.0.1:3306/{this.PROJECT_NAME}?charset=utf8"
pymysql_url = "@format mysql+pymysql://{this.DB.USER}:{this.DB.PASSWORD}@127.0.0.1:3306/{this.PROJECT_NAME}?charset=utf8"

[redis]
dbid = 0
host = "127.0.0.1"
port = 6379
password = "7a38d7c46ca4798c7767"
url = "@format redis://:{this.REDIS.PASSWORD}@{this.REDIS.HOST}:{this.REDIS.PORT}/{this.REDIS.DBID}"